#content {
    margin-left: 50px;
    margin-right: 50px;
}

.clear-float {clear: both}

.col-centered {
    float: none;
    margin: 0 auto;
}

#header-links {float: right}
#login-form {
    margin: 0 auto;
    margin-left: 5em;
    width: 40%;
}

#welcome-container, #instructions-container {
    margin-bottom: 1.5em;
}

#query-container {
    background-color: thistle;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.query-label {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    font-size: 2em;
}

.query-text {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    font-size: 2em;
    text-align: center;
    font-family: mono;
}

label:checked {
    background-color: green;
    font-weight: bold;
}

.form-group > label {
    font-size: 1.2em;
}

.radio label {
    background-color: lightgrey;
    padding: 0.5em 2em;
    border-radius: 5px;
}

.radio label.selected {
    background-color: cadetblue;
}

#id_is_geo .radio, #id_is_geo_expl .radio {
    display: inline-block;
    margin-right: 0.5em;
}

#id_query_type .radio {
    margin-left: 3em;
}

.query-category{
    font-style: italics;
    margin-top: 0.5em;
    font-size: 1.2em;
}

#skip-form textarea {
    height: 8em;
}

#annotation-form button {
    width: 100%;
    padding: 2em;
    font-weight: 600;
}

#skip-form {margin-top: 15em}

