{% extends "annotate/base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div id="query-container" >
            <div class="query-label">Query:</div>
            <div class="query-text">{{ query.text }}</div>
        </div>
    </div>
</div>

<div class="row">
<form id="annotation-form" action="{{ request.get_full_path }}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form annotation_form exclude='query_type' form_group_class='form-group col-md-3' %}

    <div class="form-group col-md-3{% if form.errors and not form.query_type.errors %} has-success{% endif %}">
        {% bootstrap_label annotation_form.fields.query_type.label label_class="control-label" %}   
        <div id="id_query_type">
            {% for val, choice in annotation_form.fields.query_type.choices %}
            {% if forloop.counter == 1 %}
            <div class="query-category">Web Navigation</div>
            {% endif %}

            {% if forloop.counter == 2 %}
            <div class="query-category">Informational</div>
            {% endif %}
            
            {% if forloop.counter == 8 %}
            <div class="query-category">Resource</div>
            {% endif %}
            
            <div class="radio">
                <label for="id_query_type{{ forloop.counter0 }}">
                    <input id="id_query_type{{ forloop.counter0 }}" {% if annotation_form.query_type.value == val %}checked="checked" {% endif %}name="query_type" type="radio" value="{{ val }}" required>
                    {{ choice }}
                    </input>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-3">
        {% buttons %}
        <input type="hidden" name="query" value="{{ query.pk }}">
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
        
        {% endbuttons %}
    </div>
</form>

<div class="col-md-3">
<form id="skip-form" action="{{ request.get_full_path }}" method="post" class="form">
    {% csrf_token %}
    <p>If the text is unintelligible as a query, you may skip it. Please provide
    a brief description of the problematic query text, which would make clear
    why it cannot be interpreted as a query.</p>
    {% bootstrap_form skipped_form show_label=False %}
    {% buttons %}
    <input type="hidden" name="query" value="{{ query.pk }}">
    <button id="skip-button" type="submit" name="skip" class="btn btn-primary">
        Skip
    </button>
    {% endbuttons %}
</form>
</div>

</div>
{% endblock %}

