{% extends "annotate/base.html" %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div id="query-container" class="row">
    <div class="query-label">Query:</div>
    <div class="query-text">{{ query }}</div>
</div>

<form id="annotation-form" action="{{ request.get_full_path }}" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form exclude='query_type' form_group_class='form-group col-sm-4' %}

    <div class="form-group col-sm-4{% if form.errors and not form.query_type.errors %} has-success{% endif %}">
        {% bootstrap_label form.fields.query_type.label label_class="control-label" %}   
        <div id="id_query_type">
            {% for val, choice in form.fields.query_type.choices %}
            {% if forloop.counter == 1 %}
            <div class="query-category">Navigational</div>
            {% endif %}

            {% if forloop.counter == 2 %}
            <div class="query-category">Informational</div>
            {% endif %}
            
            {% if forloop.counter == 8 %}
            <div class="query-category">Resource</div>
            {% endif %}
            
            <div class="radio">
                <label for="id_query_type{{ forloop.counter0 }}">
                    <input id="id_query_type{{ forloop.counter0 }}" {% if form.query_type.value == val %}checked="checked" {% endif %}name="query_type" type="radio" value="{{ val }}" required>
                    {{ choice }}
                    </input>
                </label>
            </div>
            {% endfor %}
        </div>
    </div>

    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Submit
    </button>

    {% endbuttons %}
</form>

<form id="skip-form" action="{{ request.get_full_path }}" method="post" class="form">
    {% csrf_token %}
    <p>If the text is completely unintelligible as a query, you may skip it.</p>
    <input type="hidden" name="query" value="{{ form.query.value }}">
    <button id="skip-button" type="submit" name="skip" class="btn btn-primary">
        {% bootstrap_icon "star" %} Skip
    </button>
</form>
{% endblock %}

